.wrapper_Navigator{
    width: 260px;
    height: 100vh;
}
.dashboard{
width: 100%;
// width: calc( 100% - 260px );
.dashboard-content{
    margin: 0;
    
    h2{
        padding-right: 20px;;
    }
    #breadcrumbs{
        left:20px;
         ul li:before { 
            content: "\f053";
            font-family: "FontAwesome";
            font-size: 12px;
            margin-right: 5px;
            margin-left: 10px;
            
        }
    }
    .fm-input { margin-right: 20px !important; }
    .fm-close{
        font-size: 20px;
        margin-right: 5px;
    }
    .wrapper-pricing-button{
        width: 100%;
    }
    .wrapper-preview-button{
        width: 100%;

    }
}} 
@media screen and (max-width: 991px) {
    .dashboard{
    width: 100%;
    }}