body {
    font-size: 15px !important;

    h2 {
        padding-right: 20px;
        ;
    }

    #breadcrumbs {
        left: 20px;
        display: flex;
        align-items: center;

        ul li:before {
            content: "\f053";
            font-family: "FontAwesome";
            font-size: 12px;
            margin-right: 5px;
            margin-left: 10px;

        }
    }
li{
position: relative;

    .wrapper-li {
        width: 100%;
        .list-box-icon {
            position: inherit !important;
            top: 0% !important;
            transform: translateY(0%) !important;
        }
    }
    .wrapper-close-list-item{
        position: absolute ;
        width: 80%;
        top:30px;
         .close-list-item, .fa-close{
            position: inherit !important;
            top: 0% !important;
            transform: translateY(0%) !important;
            left: 0%;
        }
    }
    
}
}
// @media screen and (max-width: 500px) {
// .sl-icon-star{
//     width: 52px !important;
// }}