.wrapper{
    direction: rtl;
    .user-profile-name{
left: 0px;
    }
    .rating-counter{
        align-items: center;
    }
    .listing-item-container.list-layout .listing-item-inner{
        padding-right: 0px;
        left:5px;
        position: inherit;
        .listing-item{
            padding-bottom: 25px;
        }
    }
    .listing-item-content{
        padding: 10px !important;
        padding-top: 50px !important;
    span.like-icon{
position: inherit;
    }
}}