body {
    font-size: 15px !important;

    h2 {
        padding-right: 30px;
        ;
    }

    #breadcrumbs {
        left: 30px;
        display: flex;
        align-items: center;

        ul li:before {
            content: "\f053";
            font-family: "FontAwesome";
            font-size: 12px;
            margin-right: 5px;
            margin-left: 10px;

        }
    }
    .message-avatar{
        position: inherit !important;
        top:0px !important;
        // padding-right: 30px;
        padding-left: 30px;
        margin-bottom: -50px;
        img{
            max-width: 54px;
        }
    }
    .messages-inbox ul li a {
        position: initial;}
}